*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky 0px;
    width: 100vw;  
    background-color: rgb(250, 128, 114);
    display: flex;
    height: 10vh;
    padding: 0 5%;
    .logo{
        width: 50%;
        display: flex;
        justify-content: inherit;
        align-items: center;
    }
    .titles-page{
        padding: 5px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .init-text{
            cursor: pointer;
        }
        .init-text:hover{
            color: rgb(29, 27, 27);
            transform: scale(1.02);
        }
    }
}