main{
    width: 100vw;
    min-height: 90vh;     /* ajustar */
    #promcard-placeholder{
        height: auto;
        width: 100%;
        margin: auto;
        ul{
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 15s infinite alternate linear;
            li{
                width: 100%;
                position: relative;
                list-style: none;
                img{
                    width: 100%;
                    height: 100%;
                }
                .promcard-description{
                    bottom: 0;
                    width: 100%;
                    position: absolute;
                    color: white;
                    backdrop-filter: blur(3px);
                }
            }
        }

    }
    .init-catalogue{
        margin-top: 5vh;
        padding: 0 0.5vw;
        width: 100vw;
        height:83vh;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        .init-catalogue-title{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
        }
        .products-container{
            width: 100%;
            display: flex;
            .product{
                min-height: 100%;
                min-width: 30%;
                margin: 0 0.5%;
                border-radius: 10px;
                overflow: hidden;
                .product-image-placeholder{
                    display: flex;
                    align-items: center;
                    height: 73%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .product-description{
                    min-height: 25%;
                    padding: 5px 5px;
                    background-color: rgb(235, 222, 235);
                }
            }
        }
    }
    #categories-placeholder{
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
        #categories-placeholder-div-one{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            margin: 2vh 0;
        }
        #categories-placeholder-div-two{
            width: 100vw;
            display: flex;
            gap: 3%;
            align-items: center;
            justify-content: center;
            .categorie{
                cursor: pointer;
                width: 30%;
                height: 85vh;
                .categorie-image-placeholder{
                    width: 100%;
                    height: 100%;
                }
            }
            .categorie-description{
                position: relative;
                z-index: 10;
                bottom: 15.7%;
                backdrop-filter: blur(2px);
                color: white;
                background-color: rgba(58, 31, 71, 0.384);
                height: 15%;
                padding: 5%;
            }
        }
    }
    .categorie:hover{
        transform: scale(1.01);
        transition: all 300ms;
    }
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




@media(min-width: 1000px){
    main{
        #promcard-placeholder{
            ul{
                li{
                    .promcard-description{
                        justify-content: center;
                        height: 45%;
                        p{
                            row-gap: 10px;
                            width: auto;
                            padding-top: 10px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            b{
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }    
}


@media(max-width: 1000px){
    main{
        #promcard-placeholder{
            ul{
                li{
                    .promcard-description{
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        p{
                            font-size: 0.7rem;
                            row-gap: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: column;
                            b{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }    
}


@media(max-width: 500px){
    main{
        #promcard-placeholder{
            ul{
                li{
                    .promcard-description{
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        padding-top: 4px;
                        p{
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.7rem;
                            row-gap: 2px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            b{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }    
}

