main{
    width: 100vw;
    overflow: hidden;
    min-height: 90vh;     /* ajustar */
    /* #promcard-placeholder{
        height: 80vh;
        overflow: hidden;
        .promcard{
            display: flex;
            height: 100%;
            width: 100%;
            .promcard-image{
                height: 80vh;
                width: 100vw;
                position: absolute;
                z-index: -1;
            }
            .promcard-text{
                position: relative;
                z-index: 10;
                background-color: aqua;
                width: 50%;
            }
        }
    } */
    .init-catalogue{
        width: 100%;
        height:65vh;
        display: flex;
        overflow-x: hidden;
        .product{
            min-height: 100%;
            min-width: 33.334%;
            margin: 0 0.2%;
            border-radius: 10px;
            overflow: hidden;
            .product-image-placeholder{
                display: flex;
                align-items: center;
                height: 75%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .product-description{
                min-height: 25%;
                padding: 5px 5px;
                background-color: rgb(245, 227, 244);
            }
        }
    }
}