main {
    width: 100vw;
    min-height: 90vh;

    /* ajustar */
    #promcard-placeholder {
        overflow: hidden;
        height: auto;
        width: 100%;
        margin: auto;

        ul {
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 15s infinite alternate linear;

            li {
                width: 100%;
                position: relative;
                list-style: none;

                img {
                    width: 100%;
                    height: 100%;
                }

                .promcard-description {
                    bottom: 0;
                    width: 100%;
                    position: absolute;
                    color: white;
                    backdrop-filter: blur(3px);
                }
            }
        }

    }

    .init-catalogue {
        width: 100vw;
        display: flex;
        overflow: hidden;
        flex-direction: column;

        .init-catalogue-title {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .products-container {
            width: 100%;
            display: flex;

            .product {
                min-height: 100%;
                overflow: hidden;

                .product-image-placeholder {
                    height: 73%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .product-description {
                    font-size: 0.8rem;
                    min-height: 25%;
                    background-color: rgb(235, 222, 235);

                    .price {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #categories-placeholder {
        display: flex;
        flex-direction: column;

        #categories-placeholder-div-one {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
        }

        #categories-placeholder-div-two {
            height: auto;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;


            .categorie {
                position: relative;
                cursor: pointer;

                .categorie-image-placeholder {
                    width: 100%;
                    height: 100%;
                }

                .categorie-description {
                    width: 100%;
                    position: absolute;
                    backdrop-filter: blur(2px);
                    color: white;
                    background-color: rgba(58, 31, 71, 0.384);
                }
            }
        }
    }

    .categorie:hover {
        transform: scale(1.01);
        transition: all 300ms;
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}




@media(min-width: 1000px) {
    main {
        #promcard-placeholder {
            ul {
                li {
                    .promcard-description {
                        justify-content: center;
                        height: 45%;

                        p {
                            row-gap: 10px;
                            width: auto;
                            padding-top: 10px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;

                            b {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }

        .init-catalogue {
            margin-top: 5vh;
            padding: 0 0.5vw;
            height: 83vh;

            .init-catalogue-title {
                height: 10vh;
            }

            .products-container {
                animation: 40s slide linear infinite;

                .product {
                    min-width: 30%;
                    margin: 0 0.5%;
                    border-radius: 10px;

                    .product-description {
                        position: relative;
                        font-size: 1rem;
                        padding: 5px 5px;

                        .price {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                        }
                    }
                }
            }
        }

        #categories-placeholder {
            margin-top: 7vh;

            #categories-placeholder-div-one {
                margin: 0 0 2vh 0;
            }

            #categories-placeholder-div-two {
                gap: 3%;

                .categorie {
                    width: 30%;
                    height: 85vh;

                    .categorie-description {
                        bottom: 0;
                        height: 15.7%;
                        padding: 5%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1000px) {
    main {

        #promcard-placeholder {
            ul {
                li {
                    .promcard-description {
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;

                        p {
                            font-size: 0.7rem;
                            row-gap: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: column;

                            b {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        .init-catalogue {
            height: 33vh;
            margin-top: 1vh;

            .init-catalogue-title {
                height: 4vh;
            }

            .products-container {
                animation: 40s slide3 linear infinite;

                .product {
                    min-width: 37%;
                    max-width: 37%;
                    height: 100%;
                    margin: 0 0.5%;
                    border-radius: 10px;

                    .product-description {
                        position: relative;
                        display: flex;
                        padding: 7px 7px;
                        flex-direction: column;

                        .price {
                            position: absolute;
                            align-self: flex-end;
                        }
                    }
                }
            }
        }

        #categories-placeholder {
            margin-top: 2vh;

            #categories-placeholder-div-one {
                margin: 0 0 1vh 0;
            }

            #categories-placeholder-div-two {
                height: auto;
                flex-wrap: wrap;
                gap: 3%;
                row-gap: 3vw;

                .categorie {
                    width: 40%;
                    height: 37vh;

                    .categorie-description {
                        bottom: 0;
                        height: 15.7%;
                        padding: 5%;
                    }
                }
            }
        }
    }
}



@media(max-width: 500px) {
    main {
        #promcard-placeholder {
            height: 190px;

            ul {
                height: 100%;

                li {
                    .promcard-description {
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        padding-top: 4px;

                        p {
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.7rem;
                            row-gap: 2px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;

                            b {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        .init-catalogue {
            margin-top: 1vh;
            padding: 0 3vw;
            min-height: 30%;

            .init-catalogue-title {
                min-height: 6vh;
            }

            .products-container {
                animation: 40s slide2 linear infinite;
                height: 25vh;

                .product {
                    height: 100%;
                    min-width: 50%;
                    max-width: 50%;
                    margin: 0 0.5%;
                    border-radius: 10px;

                    .product-description {
                        height: 27%;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 0.8rem;
                        padding: 2px 5px;
                        justify-content: space-between;

                        .material,
                        .description {
                            display: none;
                        }

                        .price {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }

        #categories-placeholder {
            margin-top: 2vh;

            #categories-placeholder-div-one {
                margin: 0 0 1vh 0;
            }

            #categories-placeholder-div-two {
                flex-wrap: wrap;
                gap: 3%;
                row-gap: 3vw;

                .categorie {
                    width: 40%;
                    height: 25vh;

                    .categorie-description {
                        bottom: 0;
                        height: 25%;
                        padding: 5%;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}